

body{
    margin: 0;
}

.header{
    background-color: #EF6D00;
    height: 60px;
    position: sticky;
    top: 0px;
}
.navigation{
    height: 100%;
}

.navigations-elements{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
    margin-top: 0;
    align-items: end;
    height: 100%;
    
}

.link{
    text-decoration: none;
    font-size: 40px;
    color: white;
    &:hover{
        color: #364C3A;
    }
}

.container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 10px;
}

.background-pineapple {
    background-image: url("https://images.unsplash.com/photo-1550258987-190a2d41a8ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
}

.card{
    width: 200px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}
.btn-buy{
    width: fit-content;
    margin-bottom: 5%;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    background-color: white;
    &:hover{
        background-color: lightgray;
    }
    
}